<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
    {% block head %}   

    {% endblock %}
</head>
<body>
    
    <div class="navbar">
        <div class="home">
            <a href="/">Home</a>
        </div>
        <div class="about">
            <a href="/about">About</a>
        </div>
        {% if 'user' in session %}
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>
        {% else %}
        <div class="login">
            <a href="/login">Login</a>
        </div>
        <div class="signup">
            <a href="/signup">Sign Up</a>
        </div>
        {% endif %}

    </div>

     {% block heading %} 
     {% endblock %}
     
     {% block content %}
     {% endblock %}
     
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>